<h1>WELCOME TO MUSIC APP</h1>

<a href="<%= bands_url %>">All Our Bands</a>

<% if !current_user %>
    <a href="<%= new_user_url %>">Signup</a>
    <a href="<%= new_session_url %>">Login</a>
<% end%>